body {
  font-family: arial;
  font-style: bold;
  font-size: 30px;
  color: red;
  background-color:  black;
}
input, select, button, option {
  color: red;
  background-color: black;
  font-size: 30px;
  width: 200px;
  text-align: center;
  border-style:solid;
  border-color: darkred;
  padding: 10px;
}
table, tr, td {
  border-style: 1px;
  border-spacing: 0px;
  padding: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.result {
  color: #ff0000;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.tab {
  overflow: hidden;
  border: 0px;
  background-color: #000000;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #660000;
}

.tab button.active {
  background-color: #990000;
  color: #000000
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px;
  border-top: none;
  text-align: center;
  height: 300px;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
