body {
  font-family: arial;
  font-style: bold;
  font-size: 30px;
  color: red;
  background-color:  black;
}
input, select, button, option {
  color: red;
  background-color: black;
  font-size: 30px;
  width: 180px;
  text-align: center;
  border-style:solid;
  border-color: darkred;
  padding: 10px;
}
table, tr, td {
  border-style: 1px;
  border-spacing: 0px;
  padding: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.weather {
  font-size: 16px;
}

#logo {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 150px;
    height: 54px;
}

.result {
  color: #ff0000;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.tab {
  overflow: hidden;
  border: 0px;

}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 12px;
  transition: 0.3s;
  width: 130px;
}

.tab button:hover {
  background-color: #660000;
}

.tab button.active {
  background-color: #990000;
  color: #000000
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px;
  border-top: none;
  text-align: center;
  height: 200px;
  animation: fadeEffect 1s;
}

#defaultSelected {
  display: block;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.text {
  text-align: center;
}
.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.color1 {
  color: #880044;
}

.color2 {
  color: #aa4477;
}

.color3 {
  color: #00ff22;
}
